*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color:none;

}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.conform{
    height: 440px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.248);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.855);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
    padding: 50px 35px;
}
.conform *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.conform h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.conform label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.conform /input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.conform button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.form-content {
    display: flex;
    justify-content: space-between;
  }
  
  .left,
  .right {
    width: 48%;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  
  .conform textarea {
    height: 150px;
    resize: none; 
    background-color: rgba(248, 248, 248, 0.57);
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    outline: none;
    border: none;
    margin-left:-70px;
    
  }

  .form-content label{
    text-align: left;
    
  }
  

  